<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../../../assets/logoTCC.PNG" alt="Logo de SLee Dw">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Participante</h2>
            <ul >
                <li>Sebastian Villegas</li>
                <li>Luisa Ospina</li>
                <li>David Molina</li>
                <li>David Posada</li>
            </ul>

        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a  href="https://github.com/DavidMolina19/sebasfooter" class="fa fa-facebook"><img src="https://cdn.iconscout.com/icon/free/png-256/github-163-761603.png" alt="git"></a>

            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022  - Todos los Derechos Reservados.</small>
    </div>
</footer>